*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #eee;
}

.title {
  font-size: 32px;
}

main {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
}

.handheld {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: gray;
  height: 430px;
  width: 800px;
}

.screen {
  display: flex;
  flex-wrap: wrap;
  background-color: greenyellow;
  width: 384px;
  height: 384px;
}